.slideshow-container {
    width: 80%;
    height: 400px;
    position: relative;
    margin: auto;
    background-color: red;
}

.mySlides{
    width: 80%;
    height: 300px;
    background-color: blue;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}

.mySlides img{
    top: 30px;
    position: absolute;
}

.info-libro{
    display: inline-block;
    text-align: center;
    left: 200px;
    top: 30px;
    color: white;
    position: absolute;
}

.info-libro a {
    text-decoration: none;
    color: white
}
