h1{
    color: white;
}
#fondo{
    background-color: rgb(32, 27, 54);
    margin: 0px;
    /*
    utilizado para centrar la imagen
    en el div
    */
    align-items: center;
    display: flex;
    justify-content: center;
    
}

#fondoLogoTribu{
    background-color: rgb(28, 28, 31);
    width: 150px;
    height: 150px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    /*
    utilizado para centrar la imagen
    en el div
    */
    align-items: center;
    display: flex;
    justify-content: center;
}
#logoTribu{
    border-radius: 50%;
}