* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
    font-size: 16px;
}
.topnav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    overflow: hidden;
    z-index: 1;
}

.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.galeria {
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.imagenes {
    width: 25%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.imagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.acerca-de{
    margin: 10px;
    text-align: justify;
}

.acerca-de #sobre-nosotros{
    text-align: center;
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 600;
}

#sobre-nosotros{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 600;
}
.slogan {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 24px;
}

.parrafo {
    font-weight: 300;
    margin: 0 60px 13px 60px;
    text-align: justify;
    line-height: 24px;
    color: rgb(24, 16, 16);
}

#integrantes{
    margin: 0 60px 0 60px;
}

.cards {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 100%;
}

.card {
    margin: 20px 0;
    width: 30%;
    height: 250px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.849);
}

.card p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}



input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#formulario {
    border-radius: 5px;
    color: white;
    background-color: #333;
    padding: 20px;
  }