h1{
    color: red;
    font-size: 20pt;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
}
h2{
    color: white;
    text-align: center;
}

ol{
    margin: 10px;
}
#subIntegrantes{
    text-align: center;
    color: white;
    font-weight: bold;
}


#fondo{
    background-color: purple;
    border-radius: 25px;
    margin: 10px;
    width: 500px;
    overflow: auto;
    
}

#fondoImagen{
    background-color: rgb(31, 28, 28);
    width: 150px;
    height: 150px;
    margin-left: 15px;
    float: left;
    border-radius: 50%;
    /*
    utilizado para centrar la imagen
    en el div
    */
    align-items: center;
    display: flex;
    justify-content: center;
}
#imagen{
    border-radius: 50%;
}

#integrantes{
    margin: 15px;
    color: white;
    background-color: blue;
    float: right;
    border-radius: 20px
}