@font-face {
    font-family:"Bloody";
    src:url("../css/fonts/Bloody.eot?") format("eot"),
    url("../css/fonts/Bloody.woff") format("woff"),
    url("../css/fonts/Bloody.ttf") format("truetype"),
    url("../css/fonts/Bloody.svg#Bloody") format("svg");
    font-weight:normal;
    font-style:normal;
}