html,body {
    height: 100%;
}

img {
    max-width: 100%;
}

#cover-texto {
    width: 100%;  
}

#cover-texto .form-inline{
    width: 100%;
}

.contenido-seccion {
    padding: 5rem 0;
}

#inicio {
    background: url('../../img/cesar/ojos_lobo.jpg') center center no-repeat;
    background-size: cover;
}

.texto-acerca-de {
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 1.875rem;
    
}

#footer-main {
    background: #222;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
}

.wrapper {
    width: 80%;
    margin: auto;
    overflow:hidden;
}
header {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 10;
}
